* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 16px;
  color: #eeece3;
}

window#waybar {
  background-color: rgba(60, 76, 89, 0.8);
  border-bottom: 2px solid #a99460;
}

.modules-left,
.modules-right {
  margin: 0 12px;
}


tooltip,
tooltip * {
  background: transparent;
  border: none;
  box-shadow: none;
}

tooltip label {
  background-color: rgba(60, 76, 89, 0.9);
  color: #eeece3;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
}

/* tooltip label { */
/*   color: #eeece3; */
/* } */

/* tooltip, */
/* tooltip * { */
/*   box-shadow: none; */
/*   border: none; */
/* } */

#workspaces {
  background-color: transparent;
  border-radius: 0px;
  border: none;
}

#workspaces button:hover {
  border-radius: 0px;
  border: none;
}

#workspaces button.active {
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 2px solid #b85b4b;
}


#custom-brightness {
  color: #f1fa8c;
}

#battery {
  color: #50fa7b;
}

#battery.warning {
  color: #f1fa8c;
}

#battery.critical {
  color: #ff6e6e;
}

#clock {
  color: #d5c69d;
  background: transparent;
  box-shadow: none;
  border: none;
}

/* #custom-bluetooth { */
/*   padding: 4px; */
/* } */

#custom-bluetooth.off {
  color: #ff6e6e;
}

#custom-bluetooth.on {
  color: #8be9fd;
  /* min-width: 48px; */
}

#custom-bluetooth.connected {
  color: #50fa7b;
  /* min-width: 48px; */
}

#custom-music {
  color: #B9A0C8;
  /* margin-left: -10px; */
}

separator,
separator.menuitem {
  margin: 0px 0;
}
