* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 20px;
  outline: none;
}

#window {
  border-radius: 20px;
}

#input {
  margin: 5px;
  border-radius: 20px;
  border: none;
  background-color: #45403d;
  color: white;
}

#inner-box {
  background-color: #32302F;
}

#outer-box {
  margin: 2px;
  padding: 10px;
  /* background: linear-gradient(#32302F, #32302F) padding-box, #a99460 border-box; */
  border-radius: 20px;
  /* border: 2px solid #a99460; */
}

#scroll {
  margin: 5px;
}

#text {
  padding: 4px;
  color: white;
}

#entry {
  border-radius: 20px;
  margin-top: 10px;
}

/* #entry:nth-child(even) { */
/* background-color: #45403d; */
/* } */
image {
  padding-left: 10px;
  padding-right: 5px;
}

#entry:selected {
  background-color: #b85b4b;
}

#text:selected {
  background: transparent;
}

list {
  background-color: #32302f;
}
